{% set artworks = [
	{
		'size': 2,
		'author': 'Alexander Lortkipanidze',
		'jobtitle': 'Сoncept designer/3d generalist',
		'url':'https://www.artstation.com/varzov',
		'image': {
			'thumb':'assets/images/gallery/alexander-lortkipanidze/1-thumb',
			'src':'assets/images/gallery/alexander-lortkipanidze/1.jpg',
			'alt':''
		}
	},
	{
		'size': 1,
		'author': 'Jonas Fornerod',
		'jobtitle': 'Digital artist / Photographer / Graphic Designer',
		'url':'https://www.artstation.com/jonasfornerod',
		'image': {
		'thumb':'assets/images/gallery/jonas-fornerod/2-thumb',
		'src':'assets/images/gallery/jonas-fornerod/2.jpg',
		'alt':''
	}
	},
	{
		'size': 1,
		'author': 'Lee Petty',
		'jobtitle': 'Art Director, Double Fine Productions',
		'url':'https://www.artstation.com/lpetty',
		'image': {
		'thumb':'assets/images/gallery/lee-petty/1-thumb',
		'src':'assets/images/gallery/lee-petty/1.jpg',
		'alt':''
	}
	},


	{
		'size': 1,
		'author': 'Ilmari Kumpunen',
		'jobtitle': 'Associate Art Director at Housemarque',
		'url':'https://www.artstation.com/ilmarik',
		'image': {
		'thumb':'assets/images/gallery/ilmari-kumpunen/1-thumb',
		'src':'assets/images/gallery/ilmari-kumpunen/1.jpg',
		'alt':''
	}
	},
	{
		'size': 1,
		'author': 'Jonas Fornerod',
		'jobtitle': 'Digital artist / Photographer / Graphic Designer',
		'url':'https://www.artstation.com/jonasfornerod',
		'image': {
		'thumb':'assets/images/gallery/jonas-fornerod/1-thumb',
		'src':'assets/images/gallery/jonas-fornerod/1.jpg',
		'alt':''
	}
	},
	{
		'size': 2,
		'author': 'Andrei Khrutskii',
		'jobtitle': 'freelance matte painter / concept artist',
		'url':'https://andreikhrutskii.artstation.com/',
		'image': {
			'thumb':'assets/images/gallery/andrei-khrutskii/1-thumb',
			'src':'assets/images/gallery/andrei-khrutskii/1.jpg',
			'alt':''
		}
	},


	{
		'size': 2,
		'author': 'Arnaud Imobersteg',
		'jobtitle': 'Architect - Illustrator',
		'url':'https://www.artstation.com/arnaud_imobersteg',
		'image': {
			'thumb':'assets/images/gallery/arnaud-imobersteg/1-thumb',
			'src':'assets/images/gallery/arnaud-imobersteg/1.jpg',
			'alt':''
		}
	},
	{
		'size': 1,
		'author': 'Jan Šarbort',
		'jobtitle': 'Concept Artist',
		'url':'https://www.artstation.com/jansarbort',
		'image': {
		'thumb':'assets/images/gallery/jan-šarbort/1-thumb',
		'src':'assets/images/gallery/jan-šarbort/1.jpg',
		'alt':''
	}
	},
	{
		'size': 1,
		'author': 'Jeff Lange',
		'jobtitle': 'Digital Artist / Photographer',
		'url':'https://twitter.com/jefftml',
		'image': {
		'thumb':'assets/images/gallery/jeff-lange/1-thumb',
		'src':'assets/images/gallery/jeff-lange/1.jpg',
		'alt':''
	}
	},


	{
		'size': 1,
		'author': 'Maximilian Schiller',
		'jobtitle': 'Concept Artist and Illustrator',
		'url':'https://www.artstation.com/maxschiller',
		'image': {
		'thumb':'assets/images/gallery/maximilian-schiller/1-thumb',
		'src':'assets/images/gallery/maximilian-schiller/1.jpg',
		'alt':''
	}
	},
	{
		'size': 1,
		'author': 'Maximilian Schiller',
		'jobtitle': 'Concept Artist and Illustrator',
		'url':'https://www.artstation.com/maxschiller',
		'image': {
		'thumb':'assets/images/gallery/maximilian-schiller/2-thumb',
		'src':'assets/images/gallery/maximilian-schiller/2.jpg',
		'alt':''
	}
	},
	{
		'size': 2,
		'author': 'Dominick Critelli',
		'jobtitle': 'Freelance Illustrator',
		'url':'https://www.artstation.com/dominickcritelli',
		'image': {
			'thumb':'assets/images/gallery/dominick-critelli/1-thumb',
			'src':'assets/images/gallery/dominick-critelli/1.jpg',
			'alt':''
	}
	},
	{
		'size': 2,
		'author': 'Ilmari Kumpunen',
		'jobtitle': 'Associate Art Director at Housemarque',
		'url':'https://www.artstation.com/ilmarik',
		'image': {
			'thumb':'assets/images/gallery/ilmari-kumpunen/2-thumb',
			'src':'assets/images/gallery/ilmari-kumpunen/2.jpg',
			'alt':''
		}
	},
	{
		'size': 1,
		'author': 'Wolfgang Pereira',
		'jobtitle': '',
		'url':'https://wolfgangps-blog.tumblr.com/',
		'image': {
		'thumb':'assets/images/gallery/wolfgang-pereira/1-thumb',
		'src':'assets/images/gallery/wolfgang-pereira/1.jpg',
		'alt':''
	}
	},
	{
		'size': 1,
		'author': 'Noely Ryan',
		'jobtitle': 'Concept Art | DMP',
		'url':'https://www.artstation.com/enor',
		'image': {
		'thumb':'assets/images/gallery/noely-ryan/1-thumb',
		'src':'assets/images/gallery/noely-ryan/1.jpg',
		'alt':''
	}
	},

	{
		'size': 1,
		'author': 'Petra Trebješanin',
		'jobtitle': 'Architectural visualizator',
		'url':'https://www.artstation.com/petramikulicic',
		'image': {
		'thumb':'assets/images/gallery/petra-trebješanin/1-thumb',
		'src':'assets/images/gallery/petra-trebješanin/1.jpg',
		'alt':''
	}
	},
	{
		'size': 1,
		'author': 'Roman Likholob',
		'jobtitle': 'Environment Concept Artist | Illustrator',
		'url':'https://www.artstation.com/pulsid',
		'image': {
		'thumb':'assets/images/gallery/roma-likholob/1-thumb',
		'src':'assets/images/gallery/roma-likholob/1.jpg',
		'alt':''
	}
	},
	{
		'size': 2,
		'author': 'Ilmari Kumpunen',
		'jobtitle': 'Associate Art Director at Housemarque',
		'url':'https://www.artstation.com/ilmarik',
		'image': {
			'thumb':'assets/images/gallery/ilmari-kumpunen/3-thumb',
			'src':'assets/images/gallery/ilmari-kumpunen/3.jpg',
			'alt':''
		}
	},

	{
		'size': 2,
		'author': 'Marco Iozzi',
		'jobtitle': 'Concept Art and Illustration',
		'url':'https://www.marcoiozzi.com/',
		'image': {
		'thumb':'assets/images/gallery/marco-iozzi/2-thumb',
		'src':'assets/images/gallery/marco-iozzi/2.jpg',
		'alt':''
	}
	},
	{
		'size': 2,
		'author': 'Marco Iozzi',
		'jobtitle': 'Concept Art and Illustration',
		'url':'https://www.marcoiozzi.com/',
		'image': {
		'thumb':'assets/images/gallery/marco-iozzi/3-thumb',
		'src':'assets/images/gallery/marco-iozzi/3.jpg',
		'alt':''
	}
	},
	{
		'size': 2,
		'author': 'Jukka Lehto',
		'jobtitle': '3D Artist',
		'url':'https://www.artstation.com/versaali',
		'image': {
			'thumb':'assets/images/gallery/jukka-lehto/1-thumb',
			'src':'assets/images/gallery/jukka-lehto/1.jpg',
			'alt':''
		}
	},
	{
		'size': 1,
		'author': 'Sterling Osment',
		'jobtitle': 'FrameworkVFX - Animator - Modeller - 3D/VR Artist - VFX',
		'url':'https://www.artstation.com/sterlingosment',
		'image': {
		'thumb':'assets/images/gallery/sterling-osment/1-thumb',
		'src':'assets/images/gallery/sterling-osment/1.jpg',
		'alt':''
	}
	},
	{
		'size': 1,
		'author': 'Subin Rajendran',
		'jobtitle': 'Concept Artist',
		'url':'https://www.artstation.com/subinrajendran',
		'image': {
		'thumb':'assets/images/gallery/subin-rajendran/1-thumb',
		'src':'assets/images/gallery/subin-rajendran/1.jpg',
		'alt':''
	}
	},


	{
		'size': 1,
		'author': 'Subin Rajendran',
		'jobtitle': 'Concept Artist',
		'url':'https://www.artstation.com/subinrajendran',
		'image': {
		'thumb':'assets/images/gallery/subin-rajendran/2-thumb',
		'src':'assets/images/gallery/subin-rajendran/2.jpg',
		'alt':''
	}
	},
	{
		'size': 1,
		'author': 'Subin Rajendran',
		'jobtitle': 'Concept Artist',
		'url':'https://www.artstation.com/subinrajendran',
		'image': {
		'thumb':'assets/images/gallery/subin-rajendran/3-thumb',
		'src':'assets/images/gallery/subin-rajendran/3.jpg',
		'alt':''
	}
	},
	{
		'size': 2,
		'author': 'Lee Petty',
		'jobtitle': 'Art Director, Double Fine Productions',
		'url':'https://www.artstation.com/lpetty',
		'image': {
			'thumb':'assets/images/gallery/lee-petty/2-thumb',
			'src':'assets/images/gallery/lee-petty/2.jpg',
			'alt':''
		}
	},
	{
		'size': 2,
		'author': 'Marco Iozzi',
		'jobtitle': 'Concept Art and Illustration',
		'url':'https://www.marcoiozzi.com/',
		'image': {
		'thumb':'assets/images/gallery/marco-iozzi/1-thumb',
		'src':'assets/images/gallery/marco-iozzi/1.jpg',
		'alt':''
	}
	},
	{
		'size': 1,
		'author': 'Vincent MacTiernan',
		'jobtitle': 'VisualFX Artist & Compositor',
		'url':'https://www.artstation.com/mattewizard',
		'image': {
		'thumb':'assets/images/gallery/vincent-mactiernan/1-thumb',
		'src':'assets/images/gallery/vincent-mactiernan/1.jpg',
		'alt':''
	}
	},
	{
		'size': 1,
		'author': 'Vincent MacTiernan',
		'jobtitle': 'VisualFX Artist & Compositor',
		'url':'https://www.artstation.com/mattewizard',
		'image': {
		'thumb':'assets/images/gallery/vincent-mactiernan/2-thumb',
		'src':'assets/images/gallery/vincent-mactiernan/2.jpg',
		'alt':''
	}
	},
	{
		'size': 1,
		'author': 'Scott Warren',
		'jobtitle': 'Senior Lighting Artist at Turtle Rock Studios',
		'url':'https://www.artstation.com/fiatlux',
		'image': {
		'thumb':'assets/images/gallery/scott-warren/1-thumb',
		'src':'assets/images/gallery/scott-warren/1.jpg',
		'alt':''
	}
	},
	{
		'size': 1,
		'author': 'Tomasz Sadzinica',
		'jobtitle': 'Just a simple 3D artist.',
		'url':'https://www.artstation.com/mortom',
		'image': {
		'thumb':'assets/images/gallery/tomasz-sadzinica/1-thumb',
		'src':'assets/images/gallery/tomasz-sadzinica/1.jpg',
		'alt':''
	}
	},
	{
		'size': 2,
		'author': 'Ryan Richmond',
		'jobtitle': 'Concept Artist',
		'url':'https://www.artstation.com/ryanrichmond',
		'image': {
			'thumb':'assets/images/gallery/ryan-richmond/1-thumb',
			'src':'assets/images/gallery/ryan-richmond/1.jpg',
			'alt':''
		}
	},





]%}
<div class="gallery" id="gallery">
	<div class="big-gap"></div>
	<div class="left-indent size-6">
		<h2 class="gallery__title">
			Featured Artists
		</h2>
	</div>
	<div class="gallery__grid">
		{% for artwork in artworks %}
			<figure class="gallery__artwork {{ (artwork.size == 2) ? 'gallery__artwork--wide' : '' }}">
				<a href="{{artwork.image.src }}" data-fancybox="galleryfb">
					<img
						alt="Artwork by {{artwork.author}}"
						
						{% if artwork.size == 2 %}
						src="{{artwork.image.thumb }}-2x-720.jpg"
						srcset="
							{{artwork.image.thumb }}-2x-320.jpg 320w,
							{{artwork.image.thumb }}-2x-400.jpg 400w,
							{{artwork.image.thumb }}-2x-512.jpg 512w,
							{{artwork.image.thumb }}-2x-720.jpg 720w,
							{{artwork.image.thumb }}-2x-850.jpg 850w
						"
						sizes="
							(max-width: 576px) calc(100vw - 4px),
							(max-width: 1700px) calc(50vw - 3px),
            				847px
						"
						{% else %}
						src="{{artwork.image.thumb }}-360.jpg"
						srcset="
							{{artwork.image.thumb }}-160.jpg 160w,
							{{artwork.image.thumb }}-200.jpg 200w,
							{{artwork.image.thumb }}-256.jpg 256w,
							{{artwork.image.thumb }}-360.jpg 360w,
							{{artwork.image.thumb }}-425.jpg 425w
						"
						sizes="
							(max-width: 576px) calc(50vw - 3px),
							(max-width: 1700px) calc(25vw - 2px),
            				423px
						"
						{% endif %}
					>
				</a>
				<figcaption>
					<a href="{{ artwork.url }}" class="gallery__author" target="_blank" rel="noreferrer" tabindex="-1">{{ artwork.author }}</a>
					<div class="gallery__jobtitle">{{ artwork.jobtitle }}</div>
				</figcaption>
			</figure>
		{% endfor %}
	</div>
</div>