<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Physical Starlight and Atmosphere | Blender Addon</title>
	<meta name="description" content="Blender addon that gives instant cinematic atmosphere and cuts down technical headache associated with setting up believable lighting.">
	<link rel="icon" type="image/svg+xml" href="assets/images/psa-logo.svg">
	<!-- Social Cards -->
	<meta property="og:title" content="Physical Starlight and Atmosphere">
	<meta property="og:description" content="Cinematic atmosphere One click away for Blender">
	<meta property="og:image" content="https://www.physicaladdons.com/psa/assets/images/presets/nishita-1700.jpeg">
	<meta property="og:url" content="https://www.physicaladdons.com/psa/">
	<meta name="twitter:card" content="summary_large_image" />
	<!-- Do not transfer random numbers into phone numbers -->
	<meta name="format-detection" content="telephone=no">
	<!-- Fonts -->
	{# <link rel="preload" href="assets/fonts/Inter-Light.woff2" as="font" type="font/woff2" crossorigin> #}
	<link href="assets/fonts/Inter-Light.woff2" type="font/woff2" crossorigin>
	<link href="assets/fonts/Inter-Regular.woff2" type="font/woff2" crossorigin>
	<link href="assets/fonts/Inter-Medium.woff2" type="font/woff2" crossorigin>
	<!-- Stylesheets -->
	<link rel="stylesheet" href="assets/css/home.css">
	<link rel="stylesheet" href="assets/css/vendor/jquery.fancybox.min.css">
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-CMSK197X7Y"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-CMSK197X7Y');
	</script>
</head>
{% set promo = false %} 
<body class="psa">
	{% include "partials/landing/landing.twig" %}
	{% include "partials/nav-secondary/nav-secondary.twig" %}
	<div class="gap"></div>
	{% include "partials/how-it-works/how-it-works.twig" %}
	{% include "partials/gallery/gallery.twig" %}
	<div class="big-gap"></div>
	{% include "partials/benefits/benefits.twig" %}
	<div class="big-gap"></div>
	{% include "partials/testimonials/testimonials.twig" %}
	<div class="big-gap"></div>
	{% include "partials/our-story/our-story.twig" %}

	{% include "partials/pricing/pricing.twig" %}
	<div class="big-gap"></div>
	{% include "partials/footer/footer.twig" %}

	<script src="{{ 'assets/javascript/general.js' }}"></script>
	<script src="{{ 'assets/javascript/timeline.js' }}"></script>
	<script src="{{ 'assets/javascript/tablinks.js' }}"></script>
	<script src="{{ 'assets/javascript/benefits.js' }}"></script>
	<script src="{{ 'assets/javascript/testimonials.js' }}"></script>
	<script src="{{ 'assets/javascript/gallery.js' }}"></script>
	<script src="{{ 'assets/javascript/navigation.js' }}"></script>
	<script src="https://player.vimeo.com/api/player.js"></script> {# vimeo API #}
	<script src="{{ 'assets/javascript/videoplayer.js' }}"></script>
	<!-- Fancybox smooth animations and simplicity is worth importing jquery. Change my mind -->
	<script src="{{ 'assets/javascript/vendor/jquery.min.js' }}"></script>
	<script src="{{ 'assets/javascript/vendor/jquery.fancybox.min.js' }}"></script>
	<script>
	$.fancybox.defaults.buttons = [
      //"zoom",
      //"share",
      //"slideShow",
      //"fullScreen",
      //"download",
      //"thumbs",
      "close"
	]
	$('[data-fancybox="images"]').fancybox({
		afterLoad : function(instance, current) {
			var pixelRatio = window.devicePixelRatio || 1;

			if ( pixelRatio > 1.5 ) {
				current.width  = current.width  / pixelRatio;
				current.height = current.height / pixelRatio;
			}
		}
	});
	var imageOption = $.extend(true, {}, $.fancybox.defaults, {
		caption : function( instance, item ) {
			return $(this).next('figcaption').html();
		}
	});
	$('[data-fancybox="galleryfb"]').fancybox(imageOption);

	</script>
</body>
</html>


